body {
  background-image: url('img/bg.jpg');
  background-color: black;
  background-size: cover;
  background-position: center center;
  color: white;
}

.App {
  min-height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 
  position: fixed;
  overflow-y: auto;
  top:0; right: 0; bottom: 0; left: 0;
}

.jumbotron {
  background: transparent;
  color: white;
}

.card, .list-group-item {
  /* color: black; */
  background: transparent;
  border-color: white;
}

.form-control {
  font-weight: 300;

}

.text-orange {
  color: orange !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.App-textfield {
  width: 100%;
  border-color: white;
  color: white;
  /* margin-bottom: 35px; */
}

.container {
  padding: 25px;
}

.slide-up {
  animation-name: slide-up;
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-direction: normal;
}
